.order_submit{
    background-color: var(--background-color);
    width: 500px;
    height: 400px;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 90px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HomeBtn{
    position: relative;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    color: var(--text-color);
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 25px;
    overflow: hidden;
    transition: background 0.4s ease, color 0.4s ease;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;;
    
}

.HomeBtn::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    opacity: 0;
    transform: scale(1.5);
    transition: opacity 0.4s ease, transform 0.3s ease;
}

.HomeBtn:hover {
    background: transparent;
    color: var(--text-color);
}

.HomeBtn:hover::after {
    opacity: 1;
    transform: scale(1);
}