
header{
    width: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;   /* verticaal centreren */
    justify-content: center;
    height: 120px;
    color: #ffffff;
    flex-direction: column;

}

.header-info-container {
    display: flex;
    align-items: center;
    gap: 25px;



    span {
        font-size: 21px;
    }
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 1440px;
}

.header-logo-container {
    align-items: center;
    display: flex;
}

.header-right{
    margin-left: auto; /* duwt de header-right naar de rechterkant */
    gap: 10px; /* ruimte tussen inbox en profile */
    display: flex;
}

.sub-header {
    height: 70px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center; /* alles naar rechts */
    align-items: center;
    margin-bottom: 25px;
    }

.sub-header-container {
    width: 1440px;
    /* border: 1px solid red; */
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

h1 {
    font-size: 24px;
}
    
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 70px;
    font-weight: 600;
    li {
        color: #3B3B3B;

        span {
            color: white;
        }
    }
}

a {
    text-decoration: none;
}