body{
    background-color: #070707;
}
header{
    
    background-color: #121212;
    display: flex;
    align-items: center;   /* verticaal centreren */
    gap: 0px;             /* ruimte tussen logo en tekst */
    height: 75px;
    color: #ffffff;
    padding: 0 15px;
}

.header-right{
    margin-left: auto; /* duwt de header-right naar de rechterkant */
    gap: 10px; /* ruimte tussen inbox en profile */
    display: flex;
}

.inbox{
    background-color: #1A1A1A;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    text-decoration: none; /* verwijder onderstreping */
}

.profile{
    background-color: #1A1A1A;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    text-decoration: none; /* verwijder onderstreping */
}

.sub-header {
    
    background-color: #1A1A1A;
    display: flex;
    justify-content: flex-end; /* alles naar rechts */
    align-items: center;
    padding: 10px 10px;
    }

.sub-header a {
    gap: 0px;
    margin-right: 100px;
    text-decoration: none;
    font-size: 16px;
    color: #858585;
}

